body{
	background-color:lightblue;
}
h1{
	text-align: center;
}
.image{

	text-align:center;
}
.extra a{
	font-weight:bold;
	text-decoration:none;
}
.extra a:hover{
	background-color:white;
}
.exxtra a:visited{
	color:red;
}
